html{
  height: 100%;
}
body{
  /* background-color: #9185b3; */
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  font-family: 'Nunito', sans-serif, 'Regular 400';
}
.padding{
  padding-top: 2rem;
}
.page-container{
  position: relative;
  min-height: 100vh;
}
.page-content{
  padding-bottom: 100px;
}
#footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
header {
  margin: auto -16px;
  padding: 30px 100px;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */
}
header h1 {
  font-family: "McLaren", cursive;
  font-weight: 200;
  color: rosybrown;
}
.album-dtl{
  text-align: center;
}
.album-dtl h2, h3{
  font-weight: 700;
  color: rosybrown;
}
.album-dtl p{
  display: inline-block;
  font-size: small;
}
.inline-b{
  display: inline-block;
}
.continue-box{
  color: rosybrown;
  position: relative;
  bottom: 0;
}
#continue{
  font-size: 1rem;
}
.navbar-collapse{
  background-color: #f7f1e3;
  border-radius: 5px;
}
.App-header {
  margin-left: 70px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.album{
  /* padding: 30px; */
  font-family: 'Nunito', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border: 10px double #e7d09cc7!important;
}
.imgs-container{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.delete{
  /* position: absolute !important;
  left: 0;
  top: 0; */
  text-align: center;
  margin: 0.5rem;
  opacity: 0.7;
}
img.single-img{
  margin-top: 8px;
  border: ridge;
}
.img-box{
  position: relative;
  flex: 25%;
  padding: 0 4px;
  max-width: var(--img-width);
  max-height: var(--img-height);
}

.column{
  padding: 0 4px;
}

.delete:hover {
  border-color: rgb(211, 59, 13);
  color: rgb(211, 59, 13);
}
.img-box:hover .fa-window-close{
  display: block;
}
.center{
 padding: 0 50%;
}
.home-add-btn{
  text-align: center;
}
.home-add-text{
  padding-left: 40%;
}
.icon-box{
  display: inline-block;
  /* display: none; */
  width: 150px;
  height: 150px;
  position: absolute;
  top: 47%; left: 40%;
  color: black;
}
